<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Web Cool Art</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/home']">Home</a>
    <a class="p-2 text-dark" href="#">Sing in</a>
    <a class="p-2 text-dark" href="#">Sign up</a>
  </nav>
</div>
<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" [routerLink]="['/list']">List</a>
      <a class="p-2 text-muted" [routerLink]="['/blog']">Blog</a>
      <a class="p-2 text-muted" [routerLink]="['/contact']">Contact Us</a>
      <a class="p-2 text-muted" [routerLink]="['/test']">Test Page</a>
      <!-- <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a> -->
    </nav>
  </div>
</div>